.board{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(252, 252, 255);
}
.boardListWrapper{
    width: 100%;
    height: auto;
    padding: 40px 0;
    overflow: auto;
    white-space: nowrap;
}